@tailwind base;
@tailwind components;
@tailwind utilities;

/* Sidebar.css */
.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0.1);
  }
  
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 6px;
  }
  
  /* Default styles for the navigation bar */
.nav {
    background-color: transparent;
    transition: background-color 0.3s ease; /* Smooth transition for background color */
  }
  
 
  